@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");
:root {
  --bg-color: hsl(270, 5%, 7%);
  --dark-grey: hsl(0, 1%, 25%);
  --medium-grey: hsl(60, 1%, 49%);
  --light-grey: hsl(60, 1%, 65%);
  --border-width: 3px;
  --purple: hsl(263, 48%, 49%);
  --dark-purple: hsl(264, 13%, 31%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  user-select: none;
}
html::-webkit-scrollbar {
  width: 0;
}
body {
  background-color: var(--bg-color);
  color: var(--light-grey);
  height: 100vh;
}
/* ----- Settings ----- */
#settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#settings #resetScore {
  margin-left: 12px;
  padding: 3px;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.08s ease;
}
#settings #resetScore:hover {
  color: var(--purple);
}
#settings svg {
  fill: var(--dark-grey);
  cursor: pointer;
}
#settings svg:active {
  fill: var(--medium-grey);
}
main {
  height: calc(100% - 54px); /* 54px - header's height */
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
  text-align: center;
}
#startBtn {
  font-size: 1.5em;
  padding: 2px 12px;
  border: 1px solid var(--medium-grey);
  background-color: transparent;
  color: var(--light-grey);
  cursor: pointer;
  transition: all 0.12s ease;
}
#startBtn:hover {
  background-color: var(--dark-grey);
  border-color: var(--dark-grey);
}
#startBtn:active {
  background-color: var(--medium-grey);
  transform: translate(2px, 2px) scale(0.8);
}
/* ----- Score Board ----- */
#scoreBoard > div[id] {
  display: inline-block;
  margin: 1.2em;
  font-size: 1.3em;
}
#scoreBoard .header {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
#scoreBoard .spinner {
  width: 1rem;
  height: 1rem;
  border: 4px solid var(--dark-grey);
  border-top-color: transparent;
  border-radius: 50%;
  visibility: hidden;
}

/* ----- Gameboard ----- */
#gameboard {
  display: grid;
  grid-template-rows: repeat(3, 150px);
  grid-template-columns: repeat(3, 150px);
}
#gameboard > .cell {
  border-style: solid;
  border-color: var(--dark-grey);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  transition: border-color 0.75s ease;
}
#gameboard > .cell > span {
  font-family: "Unbounded", sans-serif;
}

#gameboard > .cell[id="0-0"] {
  border-width: 0 var(--border-width) 2px 0;
}
#gameboard > *[id="0-1"] {
  border-width: 0 var(--border-width) var(--border-width) var(--border-width);
}
#gameboard > *[id="0-2"] {
  border-width: 0 0 var(--border-width) var(--border-width);
}
#gameboard > *[id="1-0"] {
  border-width: var(--border-width) var(--border-width) var(--border-width) 0;
}
#gameboard > *[id="1-2"] {
  border-width: var(--border-width) 0 var(--border-width) var(--border-width);
}
#gameboard > *[id="2-0"] {
  border-width: var(--border-width) var(--border-width) 0 0;
}
#gameboard > *[id="2-1"] {
  border-width: var(--border-width) var(--border-width) 0 var(--border-width);
}
#gameboard > *[id="2-1"] {
  border-width: var(--border-width) var(--border-width) 0 var(--border-width);
}
#gameboard > *[id="2-2"] {
  border-width: var(--border-width) 0 0 var(--border-width);
}

/* ----- Opponent Options ----- */
#opponentOption > * {
  cursor: pointer;
}
#opponentOption #icon {
  fill: var(--medium-grey);
  width: 40px;
  height: 40px;
}

/* ----- Utility classes ----- */
.hidden {
  display: none;
}
.hide-btn {
  visibility: hidden;
}

.show-spinner {
  visibility: visible !important;
  animation: spin 6s linear infinite;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.15s;
  animation-timing-function: ease;
}
.fade-out {
  animation-name: fade-out;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.highlight-cell {
  color: var(--purple);
  transition: color 2.6s ease;
}
.blink {
  font-weight: bold;
  color: var(--purple);
  animation: blink 0.5s;
  animation-iteration-count: 8;
}
.loading-border {
  border-color: var(--dark-purple) !important;
}

/* ------ animations ----- */
@keyframes fade-in {
  from {
    transform: scale(0.3);
  }
}
@keyframes fade-out {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes blink {
  50% {
    color: transparent;
  }
}

/* ----- mobile ----- */
@media screen and (max-width: 600px) {
  #gameboard {
    display: grid;
    grid-template-rows: repeat(3, 105px);
    grid-template-columns: repeat(3, 105px);
  }
  #gameboard > .cell {
    font-size: 4.5em;
  }
  #scoreBoard > div[id] {
    display: inline-block;
    margin: 0 0.45em;
  }
  #scoreBoard .header {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 8px;
  }
}
